.banner-wrapper {
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 160px;
  padding-left: 160px;
  background: linear-gradient(90.7deg, #211C24 0.64%, #211C24 101%);
  margin-top: 16px;
}
@media (max-width: 375px) {
  .banner-wrapper {
    display: flex;
    padding-top: 88px;
    padding-right: 16px;
    padding-left: 16px;
    gap: 48px;
    flex-direction: column;
  }
}
.banner-wrapper .banner-context {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 375px) {
  .banner-wrapper .banner-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 343px;
    gap: 16px;
  }
}
.banner-wrapper .banner-context h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 0.4;
  margin: 24px;
}
@media (max-width: 375px) {
  .banner-wrapper .banner-context h3 {
    width: 343px;
    height: 32px;
    opacity: 0.4;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
  }
}
.banner-wrapper .banner-context h1 {
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
  color: #FFFFFF;
  width: 714px;
  height: 72px;
  margin-bottom: 24px;
}
@media (max-width: 375px) {
  .banner-wrapper .banner-context h1 {
    width: 343px;
    height: 144px;
    font-weight: 100;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1%;
    text-align: center;
    color: #FFFFFF;
  }
}
.banner-wrapper .banner-context h1 span {
  font-weight: 600;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .banner-wrapper .banner-context h1 span {
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1%;
    text-align: center;
    color: #FFFFFF;
  }
}
.banner-wrapper .banner-context p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #909090;
}
@media (max-width: 375px) {
  .banner-wrapper .banner-context p {
    width: 343px;
    height: 48px;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #909090;
    margin-inline: 16px;
  }
}
.banner-wrapper .banner-context .shop-btn {
  width: 191px;
  height: 56px;
  padding: 16px 56px;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
}
.banner-wrapper .banner-context .shop-btn:hover {
  background: #FFFFFF;
  color: #211C24;
  transform: scale(1.1);
}
@media (max-width: 375px) {
  .banner-wrapper .banner-context .shop-btn {
    width: 191px;
    height: 56px;
    padding: 16px 56px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
  }
}
@media (max-width: 375px) {
  .banner-wrapper figure {
    padding: 11px;
  }
}
.banner-wrapper figure img {
  width: 406px;
  height: 632px;
}
@media (max-width: 375px) {
  .banner-wrapper figure img {
    width: 343px;
    height: 632px;
  }
}

.hero-gadgets {
  display: flex;
  justify-content: space-between;
  height: 600px;
}
.hero-gadgets .grid-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-top: 10px;
  height: 600px;
}
.hero-gadgets .grid-container .playstation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  width: 720px;
  height: 328px;
}
.hero-gadgets .grid-container .playstation figure img {
  position: relative;
  left: 0;
}
.hero-gadgets .grid-container .playstation .playstation-context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 100px 48px 100px 0;
  gap: 16px;
}
.hero-gadgets .grid-container .playstation .playstation-context h1 {
  font-weight: 500;
  font-size: 49px;
  line-height: 40px;
  letter-spacing: 0;
  color: #000000;
}
.hero-gadgets .grid-container .playstation .playstation-context p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 338px;
  height: 72px;
  color: #909090;
}
.hero-gadgets .grid-container .flex-container {
  display: flex;
  flex-direction: row;
  height: 272px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.hero-gadgets .grid-container .flex-container .airpods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: 272px;
  gap: 26px;
  background: #EDEDED;
}
.hero-gadgets .grid-container .flex-container .airpods figure img {
  width: 104px;
  height: 272px;
}
.hero-gadgets .grid-container .flex-container .airpods .airpods-context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.hero-gadgets .grid-container .flex-container .airpods .airpods-context h1 {
  font-weight: 300;
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0;
  color: #000000;
}
.hero-gadgets .grid-container .flex-container .airpods .airpods-context span {
  font-weight: 500;
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0;
  color: #000000;
}
.hero-gadgets .grid-container .flex-container .airpods .airpods-context p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 160px;
  height: 48px;
  color: #909090;
}
.hero-gadgets .grid-container .flex-container .apple-vision {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: #353535;
  width: 360px;
  height: 272px;
}
.hero-gadgets .grid-container .flex-container .apple-vision figure img {
  width: 136px;
  height: 190px;
}
.hero-gadgets .grid-container .flex-container .apple-vision .apple-vision-context {
  width: 160px;
  height: 144px;
  max-width: 176px;
  gap: 8px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.hero-gadgets .grid-container .flex-container .apple-vision .apple-vision-context h1 {
  font-weight: 300;
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.hero-gadgets .grid-container .flex-container .apple-vision .apple-vision-context h1 span {
  font-weight: 500;
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.hero-gadgets .grid-container .flex-container .apple-vision .apple-vision-context p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #909090;
}
.hero-gadgets .macbook {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: #EDEDED;
  width: 720px;
  height: 600px;
  padding: 0 0 44px 56px;
}
.hero-gadgets .macbook .macbook-context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.hero-gadgets .macbook .macbook-context h1 {
  font-weight: 100;
  font-size: 64px;
  line-height: 56px;
  letter-spacing: 0;
  color: #000000;
}
.hero-gadgets .macbook .macbook-context span {
  display: block;
  font-weight: 500;
  font-size: 64px;
  line-height: 56px;
  color: #000000;
}
.hero-gadgets .macbook .macbook-context p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #909090;
  width: 360px;
  height: 72px;
}
.hero-gadgets .macbook .macbook-context .shop-btn {
  width: 191px;
  height: 56px;
  padding: 16px 56px;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #000000;
  background: transparent;
}
.hero-gadgets .macbook .macbook-context .shop-btn:hover {
  background: transparent;
  color: #000000;
  transform: scale(1.1);
}

/*# sourceMappingURL=Hero.module.css.map */
